.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-lg); /* 8px */
  overflow: hidden;
  box-shadow: var(--shadow-md); /* Sombra media */
  background-color: var(--color-background-card); /* Blanco o gris claro */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 350px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-xl); /* Sombra más grande al pasar el ratón */
}

.imageContainer {
  position: relative;
  height: 180px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  font-size: var(--font-size-sm); /* 12px */
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font-size: var(--font-size-lg); /* 18px */
  color: var(--color-text-primary);
  margin-bottom: 8px;
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
}

.info {
  font-size: var(--font-size-md); /* 14px */
  color: var(--color-text-secondary);
  margin-bottom: 12px;
}

.priceSection {
  margin-top: auto; /* Empuja el precio y el botón hacia abajo */
  margin-bottom: 15px;
}