.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.mainContent {
  flex-grow: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}