/* src/components/EventCard.module.css */
.cardWrapper {
  min-height: 450px; /* Evita el 'layout shift' antes de que el observer se active */
}

.eventCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.eventCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.imageContainer {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.badgeContainer {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  display: flex;
  gap: 0.5rem;
}

.priceContainer {
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-color-dark);
}

.discountedPrice {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-green);
}

.originalPrice {
  font-size: 0.9rem;
  text-decoration: line-through;
  color: #888;
}