/* Definición de la paleta de colores y tipografía */
:root {
  --primary-color: #007bff; /* Azul enérgico */
  --secondary-color: #ffc107; /* Amarillo para destacar */
  --background-color: #f8f9fa; /* Gris claro de fondo */
  --text-color: #343a40; /* Gris oscuro para texto */
  --light-gray: #e9ecef;

  --font-headings: 'Poppins', sans-serif;
  --font-body: 'Roboto', sans-serif;

  font-family: var(--font-body);
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-headings);
  font-weight: 600;
}

/* Estilos para los botones principales */
.btn-primary {
  background-color: var(--primary-color);
  border: none;
}
.btn-primary:hover {
  background-color: #0056b3;
}